:root {
    --navbar-height: 60px;
}

html {
    scroll-padding-top: var(--navbar-height);
}

nav {
    background-color: #2c3e50;
    color: white;
    height: var(--navbar-height);
}

#intro-section {
    margin-top: var(--navbar-height);
    background-color: #1ABC9C;
    color: white;
}

#intro-section img {
    max-width: 250px;
}

.ms_star::before,
.ms_star::after {
    content: "";
    width: 100px;
    height: 4px;
    background: white;
    display: inline-block;
}

.ms_star_blue::before,
.ms_star_blue::after {
    content: "";
    width: 100px;
    height: 4px;
    background: #2c3e50;
    display: inline-block;
}

#about {
    background-color: #1ABC9C;
}
/* 
#contact-us .form-control:focus {
    box-shadow: none;
} */